.avatar {
  float: right;
  height: 140px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.time,.book {
  color: #999;
}

.post-content > h2 {
  border-bottom: 1px solid #eaecef;
}

h2.footer-heading {
  margin-bottom: 0px;
}

ul > li > ul {
  margin-left: 18px;
}

ul > li > ul > li {
  margin: 2px 0px;
}

.spacious > ul > li:not(:last-child) {
  margin-bottom: 18px;
}

.site-header a:hover {
  text-decoration: none;
  color: #778;
}

.page-content a:hover, .site-footer a:hover {
  color: #5aaaff;
}

a, a:visited {
  color: #2a7ae2;
}

