.avatar {
  float: right;
  height: 140px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.time,.book {
  color: #999;
}

.post-content > h2 {
  border-bottom: 1px solid #eaecef;
}

h2.footer-heading {
  margin-bottom: 0px;
}

ul > li > ul {
  margin-left: 18px;
}

ul > li > ul > li {
  margin: 2px 0px;
}

.spacious > ul > li:not(:last-child) {
  margin-bottom: 18px;
}

