.avatar {
  float: right;
  height: 140px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.time,.book {
  color: #999;
}

.post-content > h2 {
  border-bottom: 1px solid #eaecef;
}

h2.footer-heading {
  margin-bottom: 0px;
}

ul > li > ul {
  margin-left: 18px;
}

ul > li > ul > li {
  margin: 2px 0px;
}

.spacious > ul > li:not(:last-child) {
  margin-bottom: 18px;
}

.site-header a:hover {
  text-decoration: none;
  color: #778;
}

.page-content a:hover, .site-footer a:hover {
  color: #5aaaff;
}

a, a:visited {
  color: #2a7ae2;
}

textarea {
  font-family: Arial;
}

.form-group {
  width: 100%
}

.form-control {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  font-size: 16px;
}

.control-group {
  margin-bottom: 20px;
}

.btn-primary {
  margin-top: 20px;
  background-color: #424242;
  border: none;
  color: #fdfdfd;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

::placeholder {
  font-size: 16px;
}

